spring:
  application:
    name: kloset-lab

  profiles:
    active: ${SPRING_PROFILE}

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: ${JWT_SECRET}

management:
  endpoints:
    web:
      exposure:
        include: prometheus

rate-limit:
  ai-api-daily-limit: 50
  general-api-minute-limit: 100

ai:
  api:
    base-url: ${AI_API_BASE_URL:http://localhost:8000}
