spring:
  application:
    name: kloset-lab

  profiles:
    active: ${SPRING_PROFILE}

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1.0
    locations: classpath:db/migration

jwt:
  secret: ${JWT_SECRET}

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info

  endpoint:
    prometheus:
      enabled: true

  prometheus:
    metrics:
      export:
        enabled: true

rate-limit:
  ai-api-daily-limit: ${RATE_LIMIT_AI_API_DAILY:50}
  general-api-minute-limit: ${RATE_LIMIT_GENERAL_API_MINUTE:100}

ai:
  api:
    base-url: ${AI_API_BASE_URL:http://localhost:8000}
