spring:
  application:
    name: kloset-lab
  datasource:
    url: jdbc:mysql://${MYSQL_URL}:${MYSQL_PORT}/${MYSQL_NAME}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}

    jpa:
      database-platform: org.hibernate.dialect.MySQLDialect
      open-in-view: false
      show-sql: true
      hibernate:
        format_sql: true
        ddl-auto: update
